$background-color: #2D3549;
$light-nav: rgba(45, 53, 73, .7);
$address-color: #2A314CB2;

$thumbnailBg: linear-gradient(93.11deg, rgba(42, 49, 76, 0.7) 0%, rgba(29, 34, 53, 0.7) 99.63%);

$white: white;
$light-text: #EFF1F5;

$luxury: #F5B172;
$subtext: #687188;


$font-family: "Inter", san-serif;

$locationBg: rgba(104, 113, 136, 0.3);
