*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    min-height: 100vh;
    background: $background-color;
    font-size: 16px;
    font-family: $font-family;
}



.try{
    height: 10vh;
}