$imagePath : "/img";

.header {
    position: relative;
    height: 100vh;
    background-image: url("#{$imagePath}/landing.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    &--nav {
        // background: pink;
        display: flex;
        align-items: center;
        padding: 1rem 3rem;

        background: $light-nav;

        &_menu-ham {
            margin-left: auto;
            display: flex;
            align-items: center;
            cursor: pointer;

            .menu-name {
                color: $white;
                font-size: 1.2rem;
                margin-right: .4rem;
            }
        }
    }

    &--content {
        margin-top: auto;
        color: $white;
        padding-inline: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &_text{
            &-main{
                font-size: 3rem;
            }

            &-arrows{
                display: flex;
                &-arrow{
                    padding: 10px;
                    border: 1px solid white;
                    margin-left: 10px;
                    
                }
            }  
        }

        &_estate{
            background: $locationBg;
            padding: 2rem;
            border-top: .3rem solid white;
            &-location{
                color: $subtext;
            }
            &:hover{
                background: none;
            }
        }
    }
}